/* Start Variables */
:root {
  --main-color-1: #10cab7;
  --main-color-2: #2c4755;
  --main-color-3: #575757;
  --main-color-4: #ebeced;
  --section-color: #efefef;
  --section-padding: 60px;
  --main-duration: 0.5s;
}
/* End Variables */
/* Start Global Styles */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-inline: 15px;
  margin-inline: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Styles */
/* Start Components */
.special-heading {
  text-align: center;
  font-size: 100px;
  color: var(--main-color-3);
  opacity: 0.2;
  font-weight: 800;
  margin: 0;
  letter-spacing: -3px;
}
.special-heading + p {
  color: var(--main-color-3);
  text-align: center;
  margin-block: -30px 0;
  font-size: 18px;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End Components */
/* Start Header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-around;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links .icon {
  display: flex;
  flex-wrap: wrap;
  width: 30px;
  justify-content: flex-end;
}
.header .links .icon:hover span:nth-of-type(2) {
  width: 100%;
}
.header .links:hover dl {
  display: block;
}
.header .links .icon span {
  height: 3px;
  width: 100%;
  background-color: var(--main-color-2);
  margin-bottom: 5px;
}
.header .links .icon span:nth-of-type(2) {
  width: 60%;
  transition: 0.3s;
}
.header .links dl {
  position: absolute;
  background-color: var(--main-color-2);
  color: var(--main-color-4);
  padding-inline: 20px 100px;
  padding-bottom: 15px;
  width: max-content;
  display: none;
  z-index: 1;
}
.header .links dl::before {
  content: "";
  border: 10px solid;
  border-color: transparent transparent var(--main-color-2) transparent;
  position: absolute;
  top: -20px;
}
.header .links dl dt {
  opacity: 0.4;
  margin-block: 20px 15px;
}
.header .links dl dd {
  margin-left: 0;
  line-height: 1.3;
}
.header .links dl dd a {
  color: inherit;
  text-decoration: none;
}
.header .links dl dt:first-of-type + div {
  font-size: 18px;
}
/* End Header */
/* Start Landing Section */
.landing {
  background-image: url("../assets/landing0.jpg");
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 360px;
}
.landing .intro-text h1 {
  margin: 0;
  font-size: 48px;
  color: var(--main-color-1);
  text-shadow: 0 0 3px var(--main-color-3);
}
.landing .intro-text p {
  font-size: 18px;
  line-height: 1.8;
  color: var(--main-color-3);
}
/* End Landing Section */
/* Start Features */
.features {
  padding-block: var(--section-padding);
  background-color: var(--section-color);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  text-align: center;
}
.features .container .feat {
  padding: 20px;
}
.features .container .feat i {
  color: var(--main-color-1);
}
.features .container .feat h3 {
  font-weight: 800;
  color: var(--main-color-2);
  margin-block: 30px;
}
.features .container .feat p {
  color: var(--main-color-3);
  line-height: 1.8;
  font-size: 18px;
}
/* End Features */
/* Start Services */
.services {
  padding-block: var(--section-padding);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 100px;
  align-items: center;
}
.services .services-content .srv {
  display: flex;
  padding: 10px;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
.services .services-content .srv i {
  flex-basis: 60px;
  color: var(--main-color-1);
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  color: var(--main-color-2);
  font-weight: 800;
  margin-block: 0 30px;
}
.services .services-content .srv .text p {
  color: var(--main-color-3);
  line-height: 1.3;
}
.services .services-content .image {
  position: relative;
}
.services .services-content .image::before {
  content: "";
  position: absolute;
  background-color: var(--main-color-2);
  width: 80px;
  height: calc(100% + 60px);
  z-index: -1;
  top: -35px;
  left: calc((200px / 2) + 80px - 25px);
}
.services .services-content .image img {
  width: 200px;
}
@media (max-width: 990px) {
  .services .services-content .image {
    display: none;
  }
}
/* End Services */
/* Start Portfolio */
.portfolio {
  padding-block: var(--section-padding);
  background-color: var(--section-color);
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
  align-items: center;
}
@media (max-width: 676px) {
  .portfolio .portfolio-content {
    text-align: center;
  }
}
.portfolio .portfolio-content .card {
  background-color: #ffffff;
  border: 1px solid var(--main-color-3);
}
.portfolio .portfolio-content .card img {
  width: 100%;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
  font-weight: 800;
  color: var(--main-color-2);
  margin: 0;
}
.portfolio .portfolio-content .card .info p {
  color: var(--main-color-3);
  line-height: 1.3;
  font-size: 18px;
  margin-bottom: 0;
}
/* End Portfolio */
/* Start About */
.about {
  padding-block: var(--section-padding) calc(var(--section-padding) + 60px);
}
.about .about-content {
  display: flex;
  gap: 150px;
  margin-top: 100px;
}
.about .about-content .image {
  position: relative;
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  background-color: var(--main-color-3);
  width: 80px;
  height: calc(100% + 60px);
  z-index: -1;
  top: -35px;
  left: -30px;
}
.about .about-content .image::after {
  content: "";
  position: absolute;
  height: calc(100% + -70px);
  z-index: -1;
  top: -35px;
  left: calc((200px / 2) + 80px - 25px);
  border-left: 80px solid;
  border-bottom: 70px solid;
  width: 80px;
  border-color: var(--main-color-1);
}
.about .about-content .image img {
  width: 200px;
}
.about .about-content .info {
  padding-right: 50px;
}
.about .about-content .info p:first-of-type {
  font-weight: 800;
  color: var(--main-color-2);
  line-height: 1.6;
  font-size: 18px;
}
.about .about-content .info hr {
  border-color: var(--main-color-1);
  width: 50%;
  margin: 0;
}
.about .about-content .info p:last-of-type {
  color: var(--main-color-3);
  line-height: 1.6;
  font-size: 15px;
}
@media (max-width: 990px) {
  .about .about-content {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  .about .about-content .info {
    text-align: center;
    padding: 20px;
  }
  .about .about-content .info hr {
    margin: auto;
  }
}
@media (max-width: 676px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    content: none;
  }
}
/* End About */
/* Start Contact */
.contact {
  padding-block: var(--section-padding);
  background-color: var(--section-color);
}
.contact .container .info {
  margin-top: 60px;
}
.contact .container .info .label {
  margin-block: 0 25px;
  font-size: 40px;
  letter-spacing: -2px;
  font-weight: 800;
  color: var(--main-color-2);
}
.contact .container .info .link {
  margin-block: 0 25px;
  font-size: 40px;
  letter-spacing: -2px;
  font-weight: 800;
  color: var(--main-color-1);
  display: inline-block;
  text-decoration: none;
  text-indent: 35px;
}
.contact .container .info .social p {
  color: var(--main-color-2);
  text-indent: 70px;
  display: inline-block;
  margin-right: 10px;
}
.contact .container .info .social i {
  margin-inline: 10px;
  color: var(--main-color-2);
  display: inline;
}
@media (max-width: 676px) {
  .contact .container .info {
    text-align: center;
  }
  .contact .container .info .label {
    font-size: 30px;
  }
  .contact .container .info .link {
    font-size: 30px;
    text-indent: 0;
  }
  .contact .container .info .social p {
    display: block;
    text-indent: 0;
  }
  .contact .container .info .social i {
    font-size: 24px;
  }
}
/* End Contact */
/* Start Footer */
.footer {
  background-color: var(--main-color-2);
  padding-block: 20px;
  text-align: center;
}
.footer p {
  color: var(--main-color-4);
  margin: 0;
  font-weight: 600;
}
.footer p span {
  font-weight: 800;
  color: var(--main-color-1);
  font-size: 18px;
}
/* End Footer */
